---
import { SITE_TITLE } from '../../consts';
import MenuDesktop from './MenuDesktop.astro';
import MenuMobile from './MenuMobile.astro';
---

<header>
	<nav>
		<a class="logo" href="/">{SITE_TITLE}</a>
		<MenuDesktop />
		<MenuMobile />
	</nav>
</header>

<script is:inline>
  const header = document.getElementsByTagName("header")[0];
  window.addEventListener("scroll", () => {
    const scrollY = window.scrollY;
    if (scrollY > 0) {
      header.classList.add("header-sticky");
    } else {
      header.classList.remove("header-sticky");
    }
  });

</script>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		position: sticky;
		top: 0;

		height: var(--header-height);
		max-height: var(--header-height);
		display: flex;
		
		background: transparent;
		box-shadow: none;

    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
	}

	@media (max-width: 720px) {
		header {
			background: white;
			box-shadow: 0 2px 8px rgba(var(--black), 5%);
		}
	}

	.header-sticky {
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	nav {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		text-decoration: none;
		color: var(--black);
		font-size: 20px;
		font-weight: bold;
		z-index: 999;

		height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	}

	/* .logo.active {
		text-decoration: none;
	} */
</style>
